# Gradle build and cache
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Compiled class files
*.class
*.log
*.ctxt
.mtj.tmp/

# Package files
*.war
*.nar
*.ear
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# IDE & Python
.idea/
.vscode/
*.iml
.venv/
__pycache__/
*.pyc
site/
